/* Set default font */

* {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: rgb(250, 250, 250);
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset buttons styling */

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

/* set standard styling for all icons */

i {
  font-size: 1.3em;
}

.material-icons {
  border-radius: 50%;
  padding: 0.3em
}

.material-icons:active {
  background-color: rgb(216, 216, 216);
}

/* remove underline and text color for all links */

a {
  text-decoration: none;
  color: black;
}

/* Header */

header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

header i {
  color: rgb(85, 85, 85);
}

.header-element {
  display: flex;
}

#youtube-logo {
  height: 90px;
  margin-left: 1em;
}

.header-element.middle {
  width: 55vw;
  max-width: 700px;
  display: flex;
  align-items: center;
}

.search-bar {
  border: 1px solid rgb(201, 201, 201);
  display: flex;
  border-radius: 2px;
  width: 100%;
  height: 90%;
  margin-left: 2em;
}

.search-bar input,
.search-button {
  border: none;
}

.search-bar input {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-left: 1em;
  box-shadow: inset 1px 1px 2px -0.5px rgb(230, 230, 230);
  width: 100%;
  font-size: 1em;
  min-width: 80px;
}

.search-bar input:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgb(25, 116, 177);
}

.search-bar input::placeholder {
  color: rgb(146, 146, 146);
}

.search-button {
  display: flex;
  align-items: center;
  padding: 0.4em 1.5em;
  background-color: rgb(245, 245, 245);
  margin-left: 0.08em;
  border-left: 1px solid rgb(201, 201, 201);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}

.search-button:hover {
  background-color: rgb(228, 228, 228);
}

.search-button i {
  font-size: 1.4em;
  color: rgb(117, 117, 117);
  padding: 0;
  border-radius: 0;
}

.search-button i:active {
  background-color: transparent;
}

.search-button:hover > i {
  color: rgb(73, 73, 73);
}

/* hide search button when search bar is displayed */
#search-button {
  opacity: 0;
}

/* remove mic button from display so it doesn't take up space when search bar
is displayed */
#mic-button {
  display: none;
}

.sign-in-button {
  display: flex;
  align-items: center;
  color: rgb(0, 154, 211);
  border: 1px solid rgb(0, 154, 211);
  padding: 0.4em 0.8em;
  margin: 0 1em 0 0.8em;
  border-radius: 2px;
  min-width: fit-content;
}

.sign-in-button img {
  height: 25px;
  margin-right: 0.5em;
}

/* change container display to place main section and thumbnails side by side */

.content-container {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0 auto;
  width: fit-content;
  padding: 1.5em;
  column-gap: 1.5em;
}

/* Main section */

main {
  width: 640px;
  height: 100%;
}

/* Video container section within main section */

.video-container {
  border-bottom: 1px solid rgb(199, 199, 199);
}

.video-container iframe {
  width: 100%;
  max-width: 640px;
}

.video-container h2 {
  font-weight: bold;
  margin: 1em 0 0.5em 0;
  font-size: 1.2em;
}

.video-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-data .left {
  font-size: 0.9em;
  color: rgb(88, 88, 88);
  overflow: hidden;
  white-space: nowrap;
}

.video-data .right {
  display: flex;
  align-items: center;
  margin-bottom: -0.1em;
}

.right button {
  color: rgb(88, 88, 88);
  font-size: 0.9em;
  padding-right: 0.5em;
}

.enlarge {
  font-size: 1.9em;
}

#more-button {
  padding-right: 0;
  margin-right: -0.5em;
}

.data-button {
  display: flex;
  align-items: center;
}

#share-icon {
  transform: scaleX(-1);
}

.thumbs-button {
  border-bottom: 3px solid rgb(161, 161, 161);
}

/* Video description within main section */

.description {
  display: flex;
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgb(218, 218, 218);
}

.description section {
  width: 100%;
  margin: 0.7em 0 0 0.5em;
}

.description-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description-header h3 {
  font-weight: bold;
  font-size: 0.9em;
}

.subscriber-count {
  font-size: 0.8em;
  color: rgb(88, 88, 88);
}

.subscribe-button {
  padding: 0.7em 1.2em;
  background-color: rgb(192, 0, 0);
  color: #fff;
  border-radius: 3px;
  font-size: 0.8em;
  letter-spacing: 0.05em;
}

.description-text {
  margin: 1em 0 0.5em 0;
  font-size: 0.9em;
  line-height: 1.5em;
}

.show-more-button {
  color: rgb(88, 88, 88);
}

/* Comments section */

.comments {
  width: 640px;
}

.comments-header {
  display: flex;
  align-items: center;
  margin-top: 0.8em;
}

.comments-header h3 {
  font-weight: bold;
}

.comments-header button {
  display: flex;
  align-items: center;
  margin-left: 2em;
  color: rgb(88, 88, 88);
  font-size: 0.9em;
}

.avatar {
  border-radius: 50%;
  height: 40px;
  margin-right: 1em;
}

.comment-input-container,
.comment-container,
.comment-header {
  display: flex;
}

.comment-input-container {
  margin: 1em 0;
}

.comment-container {
  margin: 2em 0;
}

.comment-input-container input {
  width: 100%;
  height: 50%;
  border: none;
  border-bottom: 1px solid rgb(194, 194, 194);
  padding: 0.3em 0;
  font-size: 0.9em;
  background-color: transparent;
}

.comment-input-container input:focus {
  outline: none;
}

.comment-header {
  align-items: center;
}

.comment-header h4 {
  font-size: 0.8em;
  font-weight: bold;
}

.comment-header span {
  font-size: 0.8em;
  margin-left: 0.5em;
  color: rgb(88, 88, 88);
}

.comment-text {
  margin: 0.5em 0;
  font-size: 0.9em;
}

.comment-footer,
.view-replies-button {
  display: flex;
  align-items: center;
}

.comment-footer {
  margin-left: -0.5em;
  font-size: 0.8em;
}

.comment-footer i {
  font-size: 1.2em;
  padding: 0.5em;
}

.thumbs-count {
  margin-right: 0.8em;
}

.view-replies-button {
  margin-left: -0.5em;
  font-size: 0.85em;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: rgb(46, 151, 236);
}

.view-replies-button i {
  padding: 0;
  border-radius: 0;
  margin-right: 0.3em;
}

.view-replies-button i:active {
  background-color: transparent;
}

/* Side thumbnails */

.thumbnail-section {
  height: 100%;
  background-color: transparent;
  width: 420px;
}

.thumbnail {
  display: flex;
  align-items: flex-start;
}

.thumbnail:hover .overlay-time {
  opacity: 0;
  transition: opacity 0.3s ease 0.5s;
}

.thumbnail:hover .overlay-play,
.thumbnail:hover .thumbnail-more-button {
  opacity: 1;
}

.thumbnail-preview {
  position: relative;
  margin-right: 0.5em;
}

.overlay-time {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.3em;
  border-radius: 2px;
  right: 5px;
  bottom: 7px;
}

.overlay-play {
  position: absolute;
  top: 3px;
  display: flex;
  flex-direction: column;
  right: 5px;
  opacity: 0;
}

.overlay-play i {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  font-size: 1.2em;
  color: #fff;
  padding: 0.2em;
  margin: 0.1em 0;
}

.thumbnail-description {
  width: 100%;
}

.thumbnail-description h2 {
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1.5em;
}

.thumbnail-description h3 {
  font-size: 0.85em;
  margin: 0.5em 0 0.2em 0;
  color: rgb(88, 88, 88);
}

.thumbnail-description span {
  font-size: 0.8em;
  color: rgb(88, 88, 88);
}

.thumbnail-more-button {
  margin-top: -0.8em;
  color: rgb(88, 88, 88);
  opacity: 0;
}

/* Page responsiveness */

@media (max-width: 1000px) {
  .content-container {
    /* stack up sections one on top of the other */
    display: block;
    padding-left: 1.5em;
    padding-right: 2.5em;
    margin: 0;
    width: 100%;
    min-width: 427px;
  }

  .comments,
  .thumbnail-section,
  main {
    width: 100%;
  }

  .thumbnail-section {
    margin-top: 1em;
  }

  .video-container {
    text-align: center;
  }

  .video-container iframe {
    height: 50vw;
    max-height: 360px;
    min-height: 240px;
    min-width: 427px;
  }

  .video-container h2 {
    text-align: left;
  }
}

@media (max-width: 660px) {
  /* hide search bar */
  .header-element.middle {
    display: none;
  }


  #mic-button {
    display: block;
  }

  /* display search button to access search bar on demand */
  #search-button {
    opacity: 1;
  }
}
